
@{
    ViewData["Title"] = "Game";
}

    <h1>Математика</h1>


<div class="gameBlock">
    <img src="~/css/game.png" />
    <div class="btnBlock">
        <button style="padding:10px 4px; margin-bottom:5px; background-color:#b3adfb">1 уровень</button></br>
        <button style="padding:0px 3px; background-color:#b3adfb" href="https://www.youtube.com/watch?v=KsNIg-p3OSY">Подсказка</button>
    </div>

    <div class="btnBlock2">
        <button style=" padding: 10px 4px; margin-bottom: 5px ; background-color:#b3adfb">2 уровень</button></br>
        <button style="padding: 0px 3px ; background-color:#b3adfb">Подсказка</button>
    </div>

    <div class="btnBlock3">
        <button style="padding: 10px 4px; margin-bottom: 5px; background-color: #b3adfb">3 уровень</button></br>
        <button style="padding: 0px 3px;  background-color:#b3adfb">Подсказка</button>
    </div>

    <div class="btnBlock4">
        <button style="padding: 0px 1px; margin-bottom: 2px; background-color:#b3adfb"> 3* уровень</button></br>
        <button style="padding: 0px 3px; background-color:#b3adfb">Подсказка</button>
    </div>

    <div class="btnBlock5">
        <button style="padding: 10px 1px; margin-bottom: 5px; background-color:#b3adfb">2* уровень</button></br>
        <button style="padding: 0px 3px; background-color:#b3adfb">Подсказка</button>
    </div>
    <div class="btnBlock6">
        <button style="padding: 10px 4px; margin-bottom: 5px; background-color:#b3adfb">4 уровень</button></br>
        <button style="padding: 0px 3px; background-color:#b3adfb">Подсказка</button>
    </div>
    <div class="btnBlock7">
        <button style="padding: 10px 1px; margin-bottom: 5px ;background-color:#b3adfb">4* уровень</button></br>
        <button style="padding: 0px 3px; background-color:#b3adfb">Подсказка</button>
    </div>
</div>



