
@{
    ViewData["Title"] = "Index";
}

<thead>
    <h2 class="text-black-50">Доступные задания</h2>
</thead>

<body style="background-color:white; ">
    @*lavender*@
    <hr />
    <div style="width: 70%;">

        <div class="img1">
            <img src="~/js/s1200.png" style=" position: absolute; width: 100%; left: 13%;" />
        </div>
        <div style=" margin-left: 10%;">
            <span class="" style="font-size: 24px; color: forestgreen ">Математика</span>
            <h6 class="">Школа №4</h6>
            @*<span class="" style="font-size:22px;">Тема:</span>
            <span class="text-black-50" style="font-size:20px; color:mediumslateblue">Сложение, вычитание, умножение, сложение</span>*@
            <p>
                <a type="submit" class="btn btn-outline-primary btn-lg btn-block" asp-action="Game">Перейти</a>
            </p>
        </div>
    </div>
    <hr />

    <hr />
    <div style="width: 70%;">

        <div class="img1">
            <img src="~/js/orig.png" style=" position: absolute; width: 100%; left: 13%;" />
        </div>
        <div style="margin-left: 10%;">
            <span class="" style="font-size: 24px; color: forestgreen ">Русский язык</span>
            <h6 class="">Школа №4</h6>
            @*<span class="" style="font-size:22px;">Тема:</span>
            <span class="text-black-50" style="font-size:20px; color:mediumslateblue">Падежи</span>*@
            <p>
                <a type="submit" class="btn btn-outline-primary btn-lg btn-block" asp-action="Game1">Перейти</a>
            </p>
        </div>
    </div>
    <hr />

    <div style="width: 70%;">

        <div class="img1">
            <img src="~/js/181-1816378_laptop-fullbody-object-show-host.png" style=" position: absolute; width: 100%; left: 13%;" />
        </div>
        <div style="margin-left: 10%;">
            <span class="" style="font-size: 24px; color: forestgreen ">Программирование</span>
            <h6 class="">Школа №4</h6>
            @*<span class="" style="font-size:22px;">Тема:</span>
            <span class="text-black-50" style="font-size:20px; color:mediumslateblue">Основы</span>*@
            <p>
                <a type="submit" class="btn btn-outline-primary btn-lg btn-block" asp-action="Game2">Перейти</a>
            </p>
        </div>
    </div>
    <hr />




</body>

