
@{
    ViewData["Title"] = "Index";
}

<thead>
    <h2 class="text-black-50">Доступные тесты</h2>
</thead>

<body style="background-color:whitesmoke; ">
    @*lavender*@
    <hr />
    <div>
        <span class="" style="font-size:24px; ">Итоговый тест.</span>
        <span style="font-size:20px;"> Психология</span>
        @*<h6 class="">Психология</h6>*@

        <h6 class="" style="color:seagreen;">ДИТИ НИЯУ МИФИ</h6>
        <span class="" style="font-size:22px;">Тема:</span>
        <span class="text-black-50" style="font-size:20px;">Психологические свойства личности</span>

        <p>
            <a type="submit" class="btn btn-outline-primary btn-lg btn-block" asp-action="">Перейти к тесту</a>
        </p>

    </div>
    <hr />
    <div>
        <span class="" style="font-size:24px;">Практическое задание.</span>
        <span style="font-size:20px;">Java</span>

        <h6 class="" style="color:coral;">ООО НПФ "СОСНЫ"</h6>

        <span class="" style="font-size:22px;">Тема:</span>
        <span class="text-black-50" style="font-size:20px;">Язык программирования JAVA</span>

        <p>
            <a type="submit" class="btn btn-outline-primary btn-lg btn-block" asp-action="">Перейти к тесту</a>
        </p>
    </div>

    <hr />
    <div>
        <span class="" style="font-size:24px;">Тест по лекции.</span>
        <span style="font-size:20px;">ТРПО</span>

        <h6 class="" style="color:seagreen;">ДИТИ НИЯУ МИФИ</h6>

        <span class="" style="font-size:22px;">Тема:</span>
        <span class="text-black-50" style="font-size:20px;">Метрики</span>

        <p>
            <a type="submit" class="btn btn-outline-primary btn-lg btn-block" asp-action="">Перейти к тесту</a>
        </p>
    </div>
    <hr />
    <div>
        <span class="" style="font-size:24px;">Лабораторная работа.</span>
        <span style="font-size:20px;">Промышленное программирование</span>

        <h6 class="" style="color:seagreen;">ДИТИ НИЯУ МИФИ</h6>

        <span class="" style="font-size:22px;">Тема:</span>
        <span class="text-black-50" style="font-size:20px;">Язык программированая GO</span>


        <p>
            <a type="submit" class="btn btn-outline-primary btn-lg btn-block" asp-action="">Перейти к тесту</a>
        </p>
    </div>
    <hr />
    <div>
        <span class="" style="font-size:24px;">Текущий контроль.</span>
        <span style="font-size:20px;">Теория языков программирования</span>

        <h6 class="" style="color:seagreen;">ДИТИ НИЯУ МИФИ</h6>

        <span class="" style="font-size:22px;">Тема:</span>
        <span class="text-black-50" style="font-size:20px;">Графы</span>

        <p>
            <a type="submit" class="btn btn-outline-primary btn-lg btn-block" asp-action="">Перейти к тесту</a>
        </p>
    </div>
    <hr />
    <div>
        <span class="" style="font-size:24px;">Промежуточный контроль.</span>
        <span style="font-size:20px;">Сети и телекомуникации</span>

        <h6 class="" style="color:seagreen;">ДИТИ НИЯУ МИФИ</h6>

        <span class="" style="font-size:22px;">Тема:</span>
        <span class="text-black-50" style="font-size:20px;">LINQ</span>

        <p>
            <a type="submit" class="btn btn-outline-primary btn-lg btn-block" asp-action="">Перейти к тесту</a>
        </p>
    </div>
    <hr />
    <div>
        <span class="" style="font-size:24px;">Практическое собеседование.</span>
        <span style="font-size:20px;">Программирование (BackEnd)</span>

        <h6 class="" style="color:coral;">ООО "Asom"</h6>

        <span class="" style="font-size:22px;">Тема:</span>
        <span class="text-black-50" style="font-size:20px;">язык программирования Java</span>

        <p>
            <a type="submit" class="btn btn-outline-primary btn-lg btn-block" asp-action="">Перейти к тесту</a>
        </p>
    </div>

</body>

