@model NewHackhaThon.Models.Pupils

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pupils</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PupilsId" />
            <div class="form-group">
                <label asp-for="Pupils_Summ" class="control-label"></label>
                <input asp-for="Pupils_Summ" class="form-control" />
                <span asp-validation-for="Pupils_Summ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pupils_Name" class="control-label"></label>
                <input asp-for="Pupils_Name" class="form-control" />
                <span asp-validation-for="Pupils_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pupils_Surname" class="control-label"></label>
                <input asp-for="Pupils_Surname" class="form-control" />
                <span asp-validation-for="Pupils_Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pupils_School" class="control-label"></label>
                <input asp-for="Pupils_School" class="form-control" />
                <span asp-validation-for="Pupils_School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pupils_Class" class="control-label"></label>
                <input asp-for="Pupils_Class" class="form-control" />
                <span asp-validation-for="Pupils_Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pupils_City" class="control-label"></label>
                <input asp-for="Pupils_City" class="form-control" />
                <span asp-validation-for="Pupils_City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="myCustomLink" asp-action="Index">Назад</a>
</div>

