@{
    ViewData["Title"] = "Home Page";
}




<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Design</strong>
                <h3 class="mb-0">Post title</h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
        </div>
    </div>
</div>



<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2></h2>
        <p>11-классник из Магнитогорска Илья Чайка завоевал абсолютное первое место на Международной Менделеевской олимпиаде школьников по химии.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Подробнее... »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2></h2>
        <p>Школьник из Москвы получил золото на международной олимпиаде по математике в Румынии</p>
        <p><a class="btn btn-secondary" href="#" role="button">Подробнее... »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <svg  width="140" height="140" xmlns="http://www.w3.org/2000/svg"></svg>
        <h2></h2>
        <p>Российская школьница выиграла Международную олимпиаду по олимпиаде по философии, которая прошла в Риме..</p>
        <p><a class="btn btn-secondary" href="#" role="button">Подробнее... »</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <a href="https://iz.ru/1059458/2020-09-11/v-gosdume-predlozhili-dat-skidku-na-internet-uchashchimsia-na-udalenke" class="featurette-heading">В Госдуме предложили дать скидку на интернет учащимся на удаленке...</a>
        <p class="lead">В России предложили предоставлять скидку до 50% за услуги интернета для семей, чьи дети вынуждены учиться из дома а связи с пандемией коронавируса. С такой инициативой выступил депутат Госдумы Иван Сухарев, сообщает RT в пятницу, 11 сентября.</p>
    </div>
    <img src="~/css/item1.jpg" />
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <img src="~/css/item2.jpg" />
    <div class="col-md-7">
        <a href="https://iz.ru/1059388/ekaterina-iasakova-elena-sidorenko/raspustilis-chast-rossiiskikh-shkolnikov-snova-pereshla-na-udalenku" class="featurette-heading">Распустились: часть российских школьников снова перешла на удаленку...</a>
        <p class="lead">Возвращение к занятиям возможно со справкой от врача или результатами ПЦР.</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <a href="https://iz.ru/1057449/2020-09-06/shkolnikam-razreshili-ne-sdavat-testy-na-covid-19-v-techenie-uchebnogo-goda" class="featurette-heading">Школьникам разрешили не сдавать тесты на COVID-19 в течение учебног...</a>
        <p class="lead">Российские школьники могут не сдавать тесты на наличие коронавируса в течение всего учебного года. Как завил в воскресенье, 6 сентября, первый замминистра просвещения Дмитрий Глушко, этого от них никто не будет требовать.</p>
    </div>
    <img src="~/css/item3.jpg" />
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
