
<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="width: 170%;">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Робототехника. Урок 1</strong>
                @*<h3 class="mb-0">Featured post</h3>*@
                <div class="mb-1 text-muted">13.09.2020</div>
                <p class="card-text mb-auto">Посвящен возможностям конструктора VEX IQ. В этом уроке рассматриваем соревнования VEX IQ 2017 года</p>
                <a href="http://edurobots.ru/2017/06/vex-iq-1/" class="stretched-link">Читать...</a>
            </div>
            <div @*class="col-auto d-none d-lg-block"*@>
                <video src="~/lib/Возможности робота Vex IQ.mp4" style="width:100%"></video>
            </div>
            <div style="position:absolute; left: 40%; top: 44%;">
                <svg width="40%" height="40%" viewBox="0 0 16 16" class="bi bi-play" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z" />
                </svg>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="width: 40%; left: 80%; height: 40%;">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Программирование</strong>
                @*<h3 class="mb-0">Post title</h3>*@
                <div class="mb-1 text-muted">12.09.2020</div>
                <p class="mb-auto">Профессия будущего и актуальные навыки для ребенка за месяц! </p>
                <img src="~/js/DkoM6cFX4AEkbiZ.jpg large.jpg" style="width: 100%; height:100%">
                <a href="https://kcode.su/?yclid=5378481205392475326" class="stretched-link">Читать...</a>
            </div>
        </div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="width: 40%; left: 80%;">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Квадрокоптер</strong>
                @*<h3 class="mb-0">Post title</h3>*@
                <div class="mb-1 text-muted">12.09.2020</div>
                <p class="mb-auto">Как управлять квадрокоптером видео...</p>
                <img src="~/lib/HTB1t4h.cKSSBuNjy0Flq6zBpVXaI.jpg" style="height: 50%; width: 100%;" />
                <a href="https://www.youtube.com/watch?v=rJW7ehlgmIA" class="stretched-link">Читать...</a>
                <link>
            </div>
        </div>
    </div>

</div>


<h2>Лучшие результаты</h2>
<div class="row">
    <div class="col-lg-4">
        <div class="imgBlock">
            <img src="~/css/winner1.jpg" />
        </div>
        <h2></h2>
        <p>1 место по физике на нашем сайте занял 6-классник Иван Иванов</p>
        <p><a class="btn btn-secondary" href="#" role="button">Подробнее... »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="imgBlock">
            <img src="~/css/winner2.jpg" />
        </div>
        <h2></h2>
        <p>Школьник из Москвы получил золото на международной олимпиаде по математике в Румынии</p>
        <p><a class="btn btn-secondary" href="#" role="button">Подробнее... »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="imgBlock">
            <img src="~/css/winner3.jpg" />
        </div>
        <h2></h2>
        <p>Наша ученица выиграла олимпиаду по философии, которая прошла в Риме..</p>
        <p><a class="btn btn-secondary" href="#" role="button">Подробнее... »</a></p>
    </div><!-- /.col-lg-4 -->
</div>